/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}



body {
  /* 3. Add accessible line-height */
  line-height:1.5;
  
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}



:root{
    --clr-White: hsl(0, 0%, 100%);
    --clr-transparent_white: hsla(0, 0%, 100%, 0.75);/*(main paragraph) */
    --clr-Very_dark_blue : hsl(233, 47%, 7%);/*(main background)*/
    --clr-Dark_desaturated_blue: hsl(244, 38%, 16%);/*(card background)*/
    --clr-Soft_violet: hsl(277, 64%, 61%);/*(accent)*/
    --ff-regular: "Inter", sans-serif;
    --ff-stye:"Lexend Deca", sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:var(--clr-Very_dark_blue);
    color:var(--clr-transparent_white);
    font-family:var(--ff-regular);
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    background-color: var(--clr-Dark_desaturated_blue);
    margin:1.5rem;
    border-radius:10px;
    
    
}

.image_box{
    max-width:100%;
    background-color: var(--clr-Soft_violet);
    
}

img{
    opacity:0.6;
}

.business_content{
    padding:2rem 1rem 0rem 1rem;
}

.business__txt{
    text-align: center;
}

.business_content__quote{
    color:var(--clr-White);
    font-size:2rem;
    line-height: 1.2;  
}

.insight{
    color: var(--clr-Soft_violet);
}

.txt-padding-bottom{
    padding-bottom: 1.25rem;
}

.business_content__services{
    font-size: 0.938rem;
}

.network{
    padding-top:1.6rem;
}


.network li{
    list-style:none;
    padding-bottom:1.8rem;
}

.network li p:nth-child(1){
    color:var(--clr-White);
    font-weight:700;
    font-size:1.4rem;

}

li h1{
    font-size:1.500rem;
    color: var(--clr-White);
}

li p span{
    font-size: 0.875rem;
    letter-spacing:0.063rem;
}


@media screen and  (min-width:450px){
    .wrapper{
        display:flex;
        flex-direction:row-reverse;
        max-width:60rem;
        place-content:center;
        max-height: 25rem;
        
    }

    .image_box{
        /* width:1500px; */
        /* flex-basis: 100%; */
        
    }

    img{
      
    }

    .business__txt{
        text-align:left ;
    }
    .network{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .business_content{
        padding: 5rem 5rem 4rem 5rem;
    }

    li{
        flex-grow: 2;
    }    
} 
